# Imports

In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
from math import isnan
import json
import csv
import random

# Function

In [2]:
def to_float(series):
    series = series.str.replace(',','.').str.replace('−','-').astype(float)
    return series
def to_float_coma(series):
    series =  series.str.replace(',','').astype(float)
    return series
def to_float_dot(series):
    series =  series.str.replace('.','').astype(float)
    return series
def line_prepender(filename, line):
    with open(filename, 'r+') as f:
        content = f.read()
        f.seek(0, 0)
        f.write(line.rstrip('\r\n') + '\n' + content)
def add_list(filename, lines):
    lines.reverse()
    for i in lines:
        line_prepender(filename, i)
def get_owner(string):
    if (string == 'The World Bank'):
        return 'wd:Q7164';

# Main

In [3]:
# ROOT_DIR = os.getcwd() + '/'
# print(ROOT_DIR)
filename = 'exports_goods_services_growth.tsv'
codes = 'country_code.json'
wikidata = 'country_wikidata.json'
dict_file = 'wikidata_dict.json'
del_file = 'eliminate.tsv'

#path_tarql = '../../tarql/examples/'
path_tsv = 'tsv/'
path_sparql = '../../memoria/RDF/sparql/'
path_ttl = 'ttl/'

In [4]:
def get_owner(string):
    if (string == 'The World Bank'):
        return 'wd:Q7164';

In [4]:
df_dataset = pd.read_csv('project.tsv', sep='\t')
df_dataset

,Variable,Key name,Header,Unit of measurement,Date of access,Owner,Source,Dataset,Comment,Description
0,"Unemployment, male (% of male labor force) (mo...",unemployment_male,"Country, %_2000, %_2018","% of male labor force, % of male labor force",22-09-2020,The World Bank,http://wdi.worldbank.org/table/2.5,unemploymentMale,The World Bank: 2.5 | Unemployment,"Unemployment, male (% of male labor force) (mo..."
1,"Unemployment, female (% of female labor force)...",unemployment_female,"Country, %_2000, %_2019","% of female labor force, % of female labor force",22-09-2020,The World Bank,http://wdi.worldbank.org/table/2.5,unemploymentFemale,The World Bank: 2.5 | Unemployment,"Unemployment, female (% of female labor force)..."
2,"Unemployment, youth male (% of male labor forc...",unemployment_youth_male,"Country, %_2000, %_2020","% of male labor force ages 15-24, % of male la...",22-09-2020,The World Bank,http://wdi.worldbank.org/table/2.5,unemploymentYouthMale,The World Bank: 2.5 | Unemployment,"Unemployment, youth male (% of male labor forc..."
3,"Unemployment, youth female (% of female labor ...",unemployment_youth_female,"Country, %_2000, %_2021","% of female labor force ages 15-24, % of male ...",22-09-2020,The World Bank,http://wdi.worldbank.org/table/2.5,unemploymentYouthFemale,The World Bank: 2.5 | Unemployment,"Unemployment, youth female (% of female labor ..."
4,Unemployment with basic education (% of total ...,unemployment_basic_education,"Country, % unemployment",% of total labor force with basic education,22-09-2020,The World Bank,http://wdi.worldbank.org/table/2.5,unemploymentBasicEducation,The World Bank: 2.5 | Unemployment,Unemployment with basic education (% of total ...
5,Unemployment with intermediate education (% of...,unemployment_intermediate_education,"Country, % unemployment",% of total labor force with intermediate educa...,22-09-2020,The World Bank,http://wdi.worldbank.org/table/2.5,unemploymentIntermediateEducation,The World Bank: 2.5 | Unemployment,Unemployment with intermediate education (% of...
6,Unemployment with advanced education (% of tot...,unemployment_advanced _education,"Country, % unemployment",% of total labor force with advanced education,22-09-2020,The World Bank,http://wdi.worldbank.org/table/2.5,unemploymentAdvancedEducation,The World Bank: 2.5 | Unemployment,Unemployment with advanced education (% of tot...

In [5]:
files = df_dataset['Key name'].reset_index(drop=True)

# INFO DATASET, ROWS (tsv to ttl)

# Clean column name and add id_row

In [20]:
f = files[6]
print(f)
df = pd.read_csv(path_tsv + f + '.tsv', sep='\t')
df

unemployment_advanced _education

                    Country     %       ID
0               Afghanistan  15.5     Q889
1                   Albania  15.1     Q222
2                 Argentina   3.6     Q414
3                   Armenia  21.0     Q399
4                   Austria   3.2      Q40
5                Bangladesh  10.7     Q902
6                   Belarus   3.7     Q184
7                   Belgium   3.4      Q31
8                    Belize   3.9     Q242
9                   Bolivia   6.0     Q750
10   Bosnia and Herzegovina  15.4     Q225
11                   Brazil   6.9     Q155
12        Brunei Darussalam   8.8     Q921
13                 Bulgaria   2.3     Q219
14             Burkina Faso  11.1     Q965
15               Cabo Verde   6.2    Q1011
16                 Cambodia   0.9     Q424
17                   Canada   4.6      Q16
18           Cayman Islands   2.5    Q5785
19                    Chile   7.0     Q298
20                 Colombia  11.2     Q739
21               Costa Rica   5.3     Q800
22            Cote d'Ivoire  12.4    Q1008
23                  Croatia   6.0     Q224
24                   Cyprus   7.6     Q229
25           Czech Republic   1.2     Q213
26                  Denmark   4.0      Q35
27       Dominican Republic   3.7     Q786
28                  Ecuador   5.3     Q736
29         Egypt, Arab Rep.  22.1      Q79
..                      ...   ...      ...
96                    Samoa   7.7     Q683
97               San Marino   8.2     Q238
98                  Senegal  17.8    Q1041
99                   Serbia  10.8     Q403
100              Seychelles   2.5    Q1042
101               Singapore   4.1     Q334
102         Slovak Republic   3.1     Q214
103                Slovenia   3.6     Q215
104            South Africa  12.0     Q258
105                   Spain   8.9      Q29
106               Sri Lanka   7.1     Q854
107               St. Lucia   7.8     Q760
108                  Sweden   3.7      Q34
109             Switzerland   3.5      Q39
110                Thailand   1.6     Q869
111             Timor-Leste   6.1     Q574
112                    Togo  13.5     Q945
113                   Tonga   2.5     Q678
114     Trinidad and Tobago   2.4     Q754
115                 Tunisia  26.8     Q948
116                  Turkey  12.2      Q43
117                  Tuvalu   2.4     Q672
118                 Ukraine   7.7     Q212
119    United Arab Emirates   3.3     Q878
120          United Kingdom   2.5     Q145
121           United States   2.5      Q30
122                 Uruguay   3.0      Q77
123                 Vietnam   2.1     Q881
124      West Bank and Gaza  32.5  Q407199
125                  Zambia   8.0     Q953

[126 rows x 3 columns]

In [21]:
var = df_dataset[df_dataset['Key name'] == f]
var = var.iloc[0]
var

Variable               Unemployment with advanced education (% of tot...
Key name                                unemployment_advanced _education
Header                                           Country, % unemployment
Unit of measurement       % of total labor force with advanced education
Date of access                                                22-09-2020
Owner                                                     The World Bank
Source                                http://wdi.worldbank.org/table/2.5
Dataset                                    unemploymentAdvancedEducation
Comment                               The World Bank: 2.5 | Unemployment
Description            Unemployment with advanced education (% of tot...
Name: 6, dtype: object

# Create dataset info

In [22]:
"""
eg:dataset-terrestrial_protected_areas a qb:DataSet;
    dct:title       "Terrestrial protected areas"@en;
    rdfs:label      "terrestrial_protected_areas"@en;
    rdfs:comment    "The World Bank: 3.4 | Deforestation and biodiversity"@en;
    dct:description "Area percentage of terrestrial protected areas"@en;
    dct:publisher   eg:TheWorldBank;
    dct:issued      "2020-09-22"^^xsd:date;
    dct:source      <http://wdi.worldbank.org/tables> ;
    dct:subject
        sdmx-subject:3.1 ;      # Environment         
    qb:structure eg:dsd-percentage ;  
    sdmx-attribute:unitMeasure <http://dbpedia.org/resource/Year> ;
    .
"""

DATASET= []

dataset = 'c19:dataset-' + var['Dataset'] + ' a qb:Dataset;\n'
DATASET.append(dataset)

title = '    dct:title       "'+ var['Variable'] +'"@en;\n'
#title = '    dct:title       "Gross domestic product growth rate"@en;\n'
DATASET.append(title)

label = '    rdfs:label      "'+ var['Key name'] + '"@en;\n'
DATASET.append(label)

comment = '    rdfs:comment    "'+ var['Comment'] + '"@en;\n'
DATASET.append(comment)

description = '    dct:description "'+ var['Description']+ '"@en;\n'
DATASET.append(description)

publisher = '    dct:publisher   '+ get_owner(var['Owner']) + ';\n'
DATASET.append(publisher)

issued = '    dct:issued      "'+ str(pd.to_datetime(var['Date of access']))[:10] + '"^^xsd:date;\n'
DATASET.append(issued)

source = '    dct:source      <' + var['Source'] + '> ;\n'
DATASET.append(source)

structure_dataset = '    qb:structure    c19-structure:dsd-' + var['Dataset'] +' ; \n'
DATASET.append(structure_dataset)


end = '.\n'
DATASET.append(end)
DATASET.append('\n')

In [23]:
DATASET

['c19:dataset-unemploymentAdvancedEducation a qb:Dataset;\n',
 '    dct:title       "Unemployment with advanced education (% of total labor force with advanced education)"@en;\n',
 '    rdfs:label      "unemployment_advanced _education"@en;\n',
 '    rdfs:comment    "The World Bank: 2.5 | Unemployment"@en;\n',
 '    dct:description "Unemployment with advanced education (% of total labor force with advanced education)"@en;\n',
 '    dct:publisher   wd:Q7164;\n',
 '    dct:issued      "2020-09-22"^^xsd:date;\n',
 '    dct:source      <http://wdi.worldbank.org/table/2.5> ;\n',
 '    qb:structure    c19-structure:dsd-unemploymentAdvancedEducation ; \n',
 '.\n',
 '\n']

In [24]:
output = path_ttl + f + '.ttl'
print(output)

ttl/unemployment_advanced _education.ttl

# Observations

### Save Education Datasets

In [25]:
# Write
out = open(output, "w")
out.writelines(DATASET)
makeObservationsEducation(var, df)
out.close()

In [37]:
# Write
out = open(output, "w")
out.writelines(DATASET)
makeObservationsUnemployment(var, df)
out.close()

In [51]:
# Write
out = open(output, "w")
out.writelines(DATASET)
makeObservationsYouthUnemployment(var, df)
out.close()

In [36]:
def makeObservationsUnemployment(info, data):
    global output
    for i in range(data.shape[0]):
        observation = ['\n']
            
        obs = 'c19:dataset-' + info['Dataset'] + '0' + str(i) + ' a qb:Observation;\n'
        observation.append(obs)

        dataset = '    qb:dataSet                      c19:dataset-' + info['Dataset'] + ';\n'
        observation.append(dataset)

        period  = '    c19-dimension:refPeriod         c19-interval:Year2000 ;\n'
        observation.append(period)
        
        sex     = '    sdmx-dimension:sex              sdmx-code:sex-F ;\n'
        observation.append(sex)

        measure = '    c19-measure:unemployment        ' + str(data['%_2000'].loc[i]) + ' ;\n'
        observation.append(measure)
        
        unitMul = '    sdmx-attribute:unitMultiplier   -2 ;\n'
        observation.append(unitMul)
        
        decimal = '    sdmx-attribute:decimals         1 ;\n' 
        observation.append(decimal)
        
        
        id_ctry = '    c19-dimension:refArea           wd:' + data['ID'].loc[i] + ' .\n'
        observation.append(id_ctry)
        
        out.writelines(observation) 
        
        
        observation = ['\n']
            
        obs = 'c19:dataset-' + info['Dataset'] + '1' + str(i) + ' a qb:Observation;\n'
        observation.append(obs)
        observation.append(dataset)

        period  = '    c19-dimension:refPeriod         c19-interval:Year2018 ;\n'
        observation.append(period)
        observation.append(sex)

        measure = '    c19-measure:unemployment        ' + str(data['%_2018'].loc[i]) + ' ;\n'
        observation.append(measure)
        observation.append(unitMul)
        observation.append(decimal)
        observation.append(id_ctry)
        
        out.writelines(observation)

In [50]:
def makeObservationsYouthUnemployment(info, data):
    global output
    for i in range(data.shape[0]):
        observation = ['\n']
            
        obs = 'c19:dataset-' + info['Dataset'] + '0' + str(i) + ' a qb:Observation;\n'
        observation.append(obs)

        dataset = '    qb:dataSet                      c19:dataset-' + info['Dataset'] + ';\n'
        observation.append(dataset)

        period  = '    c19-dimension:refPeriod         c19-interval:Year2000 ;\n'
        observation.append(period)
        
        sex     = '    sdmx-dimension:sex              sdmx-code:sex-F ;\n'
        observation.append(sex)
        
        age     = '    c19-dimension:ageInterval       c19-interval:Age15-24 ;\n'
        observation.append(age)

        measure = '    c19-measure:unemployment        ' + str(data['%_2000'].loc[i]) + ' ;\n'
        observation.append(measure)
        
        unitMul = '    sdmx-attribute:unitMultiplier   -2 ;\n'
        observation.append(unitMul)
        
        decimal = '    sdmx-attribute:decimals         1 ;\n' 
        observation.append(decimal)
        
        
        id_ctry = '    c19-dimension:refArea           wd:' + data['ID'].loc[i] + ' .\n'
        observation.append(id_ctry)
        
        out.writelines(observation) 
        
        
        observation = ['\n']
            
        obs = 'c19:dataset-' + info['Dataset'] + '1' + str(i) + ' a qb:Observation;\n'
        observation.append(obs)
        observation.append(dataset)

        period  = '    c19-dimension:refPeriod         c19-interval:Year2018 ;\n'
        observation.append(period)
        observation.append(sex)
        observation.append(age)

        measure = '    c19-measure:unemployment        ' + str(data['%_2018'].loc[i]) + ' ;\n'
        observation.append(measure)
        observation.append(unitMul)
        observation.append(decimal)
        observation.append(id_ctry)
        
        out.writelines(observation)

In [11]:
def makeObservationsEducation(info, data):
    global output
    for i in range(data.shape[0]):
        observation = ['\n']

        obs = 'c19:dataset-' + info['Dataset'] + '0' + str(i) + ' a qb:Observation;\n'
        observation.append(obs)

        dataset = '    qb:dataSet                      c19:dataset-' + info['Dataset'] + ';\n'
        observation.append(dataset)
        
        period  = '    c19-dimension:refPeriod         c19-interval:Year2015-18 ;\n'
        observation.append(period)
        
        level   = '    c19-dimension:educationLevel \t' + nivel(info['Dataset']) + ';\n'
        observation.append(level)

        measure = '    c19-measure:unemployment \t' + str(data['%'].loc[i]) + ' ;\n'
        observation.append(measure)
        
        unitMul = '    sdmx-attribute:unitMultiplier   -2 ;\n'
        observation.append(unitMul)
        
        decimal = '    sdmx-attribute:decimals         1 ;\n' 
        observation.append(decimal)

        id_ctry = '    c19-dimension:refArea           wd:' + data['ID'].loc[i] + ' .\n'
        observation.append(id_ctry)

        out.writelines(observation)

In [12]:
def nivel(string):
    if string == 'unemploymentBasicEducation':
        return 'wd:Q975085'
    elif string == 'unemploymentIntermediateEducation':
        return 'wd:Q14623204'
    elif string == 'unemploymentAdvancedEducation':
        return 'wd:Q9166713'

Hasta aquí llegamos nosotros (por ahora)

# Structure

In [70]:
output = path_ttl + 'structures' + '.ttl'
print(output)

ttl/structures.ttl

In [88]:
# The dimensions
n = 3

dim1_name = 'refArea'
dim2_name = 'refPeriod'
dim3_name = 'educationLevel'


# The measure(s)
measure1_name = var['Dataset'] #measure_name generalmente es vacio
#measure2_name = name + measure_name + 'PerCapita'
measure1_name

#

'unemploymentAdvancedEducation'

In [71]:
def line_prepender(filename, line):
    with open(filename, 'r+') as f:
        content = f.read()
        f.seek(0, 0)
        f.write(line.rstrip('\r\n') + '\n' + content)

In [87]:
f = files[6]
var = df_dataset[df_dataset['Key name'] == f]
var = var.iloc[0]
    
struct = var['Dataset']
print(struct)

unemploymentAdvancedEducation

In [73]:
def add_list(filename, lines):
    lines.reverse()
    for i in lines:
        line_prepender(filename, i)

In [89]:
"""
DIMENSION: EDAD, PAISES, ETC
MEDIDA: %MUERTOS
UNIDAD(unit measure):DOLARES, PESOS, MILLONES
"""


structure = ["\n # c19-structure:dsd-" + struct]

definition = "c19-structure:dsd-" + struct + " a qb:DataStructureDefinition;\n"
structure.append(definition)

component = "    qb:component\n"


# The dimensions

structure.append(component)
dim1 = "    [ qb:dimension c19-dimension:" + dim1_name + ";               qb:order " + str(n) + " ],\n"
dim2 = "    [ qb:dimension c19-dimension:" + dim2_name + ";               qb:order " + str(n-1) + " ],\n" #CAMBIAR SI ES MENOS DE 3 DIM
dim3 = "    [ qb:dimension c19-dimension:" + dim3_name + ";               qb:order " + str(n-2) + " ],\n"
# dim_sex = "    [ qb:dimension sdmx-dimension:sex;               qb:order " + str(n-3) + " ];\n"
structure.append(dim1)
structure.append(dim2)
structure.append(dim3)
# structure.append(dim_sex)

# The measure(s)
structure.append(component)
measure1 = "    [ qb:measure c19-measure:" + measure1_name + " ];\n" # CAMBIAR SI ES MÁS DE UNA DIMENSION
structure.append(measure1)
#measure2 = "    qb:measure c19-measure:" + measure2_name + " ];\n"
#structure.append(measure2)

# The attributes
structure.append(component)
decimalss = "    [ qb:attribute sdmx-attribute:decimals ;\n"
structure.append(decimalss)
attribute = "     qb:attribute sdmx-attribute:unitMeasure ;\n"
#structure.append(attribute)
#currencyy = "    qb:attribute sdmx-attribute:currency ;\n"
#structure.append(currencyy)
unitMultiplier = "    qb:attribute sdmx-attribute:unitMultiplier ;];\n"
structure.append(unitMultiplier)

# End
structure.append(".\n")

In [90]:
add_list(path_ttl + 'structures.ttl', structure)

# Measure

In [132]:
measure1_name = var['Dataset']
print(measure1_name)

unemploymentMale

In [62]:
labels = [
    "Unemployment Male",
    "Unemployment Female",
    "Unemployment Youth Male (15-24)",
    "Unemployment Youth Female (15-24)",
    "Unemployment Basic Education",
    "Unemployment Intermediate Education",
    "Unemployment Advanced Education"
]

In [69]:
output = path_ttl + 'dimension_measure.ttl'
out = open(output, "w")
for i in range(len(labels)):
    lbl = labels[i]
    f = files[i]
    measure =['\n']
    var = df_dataset[df_dataset['Key name'] == f]
    var = var.iloc[0]
    measure1_name = var['Dataset']
    
    print(measure1_name)
    definition = 'c19-measure:' + measure1_name + ' a rdf:Property, qb:MeasureProperty ;\n'
    measure.append(definition)
    label = '    rdfs:label ' + '"' + lbl + '"' + '@en;\n'
    measure.append(label)
    rdfs1 = '    rdfs:subPropertyOf sdmx-measure:obsValue;\n'
    measure.append(rdfs1)
    rdfs2 = '    rdfs:range xsd:decimal ;\n'
    measure.append(rdfs2)
    measure.append('.\n')
    #print(measure)
    out.writelines(measure)
    #add_list(path_ttl + 'dimension_measure.ttl', measure)
out.close()

unemploymentMale
unemploymentFemale
unemploymentYouthMale
unemploymentYouthFemale
unemploymentBasicEducation
unemploymentIntermediateEducation
unemploymentAdvancedEducation

In [135]:
add_list(path_ttl + 'dimension_measure.ttl', measure)

# Intervals

In [139]:
intervals = []
age = """
c19-interval:Age15-24 a c19-interval:PercentileInterval ;
    c19-interval:beginning 15 ;
    c19-interval:end 24 ;
    c19-interval:baseUnit wd:Q577 ;
    rdfs:label "15-24" .
    
"""

Year2000 = """
c19-interval:Year2000 a time:Interval ;
    time:hasBeginning "2000"^^xsd:gYear ;
    time:hasEnd "2000"^^xsd:gYear ;
    rdfs:label "2000" .
 
"""

Year2018 = """
c19-interval:Year2018 a time:Interval ;
    time:hasBeginning "2018"^^xsd:gYear ;
    time:hasEnd "2018"^^xsd:gYear ;
    rdfs:label "2018" . 
"""

In [137]:
line_prepender(path_ttl + "intervals.ttl", age)

In [138]:
line_prepender(path_ttl + "intervals.ttl", Year2000)

In [140]:
line_prepender(path_ttl + "intervals.ttl", Year2018)