# Imports

In [19]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
from math import isnan
import json
import csv
import random

# Main

In [7]:
ROOT_DIR = os.getcwd() + '/'
print(ROOT_DIR)
filename = 'exports_goods_services_growth.tsv'
codes = 'country_code.json'
wikidata = 'country_wikidata.json'
dict_file = 'wikidata_dict.json'
del_file = 'eliminate.tsv'
path_data = '/home/tamara/Documents/U/Memoria/memoria/Data/COVID-19_non_related/'
path_covid = '/home/tamara/Documents/U/Memoria/memoria/Data/COVID-19_related/'
path_clean_related = '/home/tamara/Documents/U/Memoria/memoria/Data/Clean_related/'
path_clean_non_related = '/home/tamara/Documents/U/Memoria/memoria/Data/Clean_non_related/'
path_check = '/home/tamara/Documents/U/Memoria/memoria/Data/to_check/'

/home/tamara/Documents/U/Memoria/memoria/Script/

## Select 10 random variables

In [23]:
random.seed(4)

directories = os.listdir(path_clean_non_related)
sampling = random.choices(directories, k=10)
print(sampling)

['terrestrial_protected_areas.tsv', 'total_greenhouse_gas_emissions.tsv', 'fifa_women.tsv', 'antiretroviral_therapy_coverage.tsv', 'goods_services_imports.tsv', 'service_exports_commercial.tsv', 'savings_consumption_fixed_capital.tsv', 'high-technology_exports.tsv', 'consumption_iodized_salt.tsv', 'religion_population.tsv']

In [27]:
df = pd.read_csv(path_clean_non_related + sampling[1], sep='\t')
df

                   Country      Tons  Change %      ID
0              Afghanistan   18168.9      43.5    Q889
1                  Albania    8898.6     -19.9    Q222
2                  Algeria  176471.2      65.8    Q262
3           American Samoa      58.8     188.3  Q16641
4                   Angola   41657.2     -18.0    Q916
..                     ...       ...       ...     ...
171                Vietnam  310664.1     213.6    Q881
172  Virgin Islands (U.S.)      61.5      35.8  Q11703
173            Yemen, Rep.   40924.6     218.5    Q805
174                 Zambia  320254.2      52.8    Q953
175               Zimbabwe   72057.8     105.3    Q954

[176 rows x 4 columns]